<h1>Created Recipes</h1>
<div class="buttons">
    <button id="show" class="bg-green-300 rounded-md p-2">Show Recipes</button>
    <button id="hide" class="bg-red-600 rounded-md p-2">Hide Recipes</button>
</div>
{{#each recipe}}
<ul class="recipePreview flex justify-center bg-red-500 p-3">
    <li class="preivewLi"></li>
    <p>{{this.dataValues.recipeName}}</p>
    </li>
</ul>
{{/each}}




{{#each recipe}}
<ul class="recipeContainer bg-red-500 flex justify-center animated fadeIn">

    <li class="recipeLi">

        <p class="font-extrabold"> <span class="recipeText">Recipe Name:</span>
            {{this.dataValues.recipeName}}</p>
        <br>

        <p class="semi-bold"> <span class="recipeText">ingredients: </span> {{this.dataValues.ingredients}}</p> <br>

        <p class="semi-bold"><span class="recipeText">Directions: </span> {{this.dataValues.directions}}</p>
        {{!-- 
        <button type="button" class="p-2 bg-gray-300 rounded-md m-2 hover:bg-red-700" id="deleteRecipe"
            data-id="{{this.dataValues.id}}">Delete</button> --}}
    </li>

</ul>
{{/each}}